
/*textos*/
h1{
    color: white;
    font-size: 30;
    text-align: center;
}
p1{
    position: relative;
    top: 70px;
    left: 320px;
    font-size: 35px;
}
p2{
    font-size: 20px;
}
p3{
    position: relative;
    top: 80px;
    left: 2px;
    font-size: 35px;
}
p4{
    font-size: 20px;
}
p5{
    position: relative;
    top: 80px;
    left: 2px;
    font-size: 35px;
}
p6{
    font-size: 20px;
}
p7{
    position: relative;
    top: 80px;
    left: 2px;
    font-size: 35px;
}
p8{
    font-size: 20px;
}
p9{
    position: relative;
    top: 30px;
    left: 2px;
    font-size: 35px;
}
p10{
    font-size: 20px;
}

/**/
body{
    background-color:white
}
header{
    background-color: black;
}

/*imagens*/
img#imag{
    position: absolute;
    top: 150px;
    left: 20px;
    width: 300px;
    height: 200px;
}
img#imag2{
    position: absolute;
    top: 300px;
    left: -308px;
    width: 300px;
    height: 200px;
}
img#imag3{
    position: absolute;
    top: 300px;
    left: -308px;
    width: 300px;
    height: 200px;
}
img#imag4{
    position: absolute;
    top: 300px;
    left: -308px;
    width: 300px;
    height: 200px;
}
img#imag5{
    position: absolute;
    top: 250px;
    left: -308px;
    width: 300px;
    height: 200px;
}
/**/

